<html lang="@Model.Item.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <!--head start-->
    @Html.Sitecore().Placeholder("head")
    <!--head end-->
</head>
<body>
    <!--body start-->
    @Html.Sitecore().Placeholder("body")
    <!--body end-->
</body>
</html>
